<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxohYScWVDVWiAczgD2Sjy6emq5lakQXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>914659102520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softwareYusrPlus.yusrPlus</string>
	<key>PROJECT_ID</key>
	<string>yousrr-f917c</string>
	<key>STORAGE_BUCKET</key>
	<string>yousrr-f917c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914659102520:ios:ea9e00aadbda6151133bcd</string>
</dict>
</plist>